/*
    Plugin Name: ContactUs.Com Form Plugin
    Plugin URI:  http://help.contactus.com/entries/23229688-Adding-the-ContactUs-com-Plugin-for-WordPress
    Description: ContactUs.com Plugin for Wordpress.
    Author: ContactUs.Com
    Version: 0.03b
    Author URI: http://contactus.com/
    License: GPLv2 or later
*/

div.plugin_wrap{margin: 20px 0;background:url(http://www.contactus.com/img/ContactUs-Logo.png)  no-repeat scroll 10px 20px;min-height:300px;width:95%;overflow:hidden;}
div.plugin_wrap h2{margin-top:110px;}
div.plugin_wrap input[type='text'], textarea{width:620px;}
pre {white-space: pre-wrap;}
.conf_message{padding: 1px 15px;background: #ffffcc;margin:10px 0px;width:400px; }